<ion-view style="" class=" " id="page5" title="Login" name="login-view">
    <ion-content class="has-header" padding="true">
        <form class="list " id="lOOKBOOK-form4">
            <div style="height: 100px;" class="spacer"></div>
            <label id="lOOKBOOK-input1" class="item item-input item-stacked-label ">
                <input placeholder="username or email" type="email">
            </label>
        </form>
        <form class="list " id="lOOKBOOK-form5">
            <label id="lOOKBOOK-input3" class="item item-input ">
                <input placeholder="password" type="text">
            </label>
        </form>
        <div class=" button-bar " id="lOOKBOOK-button-bar1">
            <button class=" button button-dark  button-block " id="lOOKBOOK-button1">Login</button>
            <button class=" button button-dark  button-block " id="lOOKBOOK-button3">SignUp</button>
        </div>
    </ion-content>
</ion-view>