<ion-view style="" class=" " id="page6" title="Signup">
    <ion-content class="has-header" padding="true">
        <form class="list " id="signup-form6">
            <div style="width: 283px; height: 47px;" class="spacer"></div>
            <ion-list class=" " id="signup-list1">
                <label id="signup-input4" class="item item-input ">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label id="signup-input5" class="item item-input ">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label id="signup-input6" class="item item-input ">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <a class=" button button-dark  button-block " id="signup-button4" ui-sref="tabsController.lOOKBOOK">Sign up</a>
        </form>
    </ion-content>
</ion-view>